/* 특별한 상황아니면 절대 *(universal)를 selector로 사용하지 말 것 */
body {
	width: 500px;
	margin: 0 auto;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin-top: 0.5em;
}

/* 그냥 tag를 selector로 하는 것보단 class나 id를 지정해줘서 selector를 하는게 더 좋음. 왜냐면 같은 tag가 여러게 일 수도 있으니깐 */
.container {
	background: #D1EEF9;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	max-width: 700px;
}

.todo-lists {
	background: #D1EEF9;
	border-radius: 10px;
	height: 350px;
}

.todo-lists p {
	font-size: 20px;
	text-align: center;
}

.todo-input{
    vertical-align: middle;
    height: 35px;
	box-sizing: border-box;
	width: 70%;
	border: none;
	text-align: center;
}

.add-button{
	vertical-align: middle;
    height: 35px;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 1;
	font-size: 25px;
	background-color: #D1EEF9;
	border: none;
}

.clear-all-button{
	background: #368aaa;
	border-radius: 10px;
	border : none;
	width: 150px;
	height: 30px;
	margin-left: 160px;
	margin-top : 2em;
}


.todo-lists .done-button {
	background: green;
	border-radius: 10px;
	border : none;
	width: 50px;
	height: 30px;
	margin-left: 40px;
	margin-top: 5px;
	display:inline;
	float: left;
}
 .todo-lists .delete-button {
	background: red;
	border-radius: 10px;
	border : none;
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 5px;
	margin-right: 40px;
	display:inline;
}