.fal{
	color: black;
}


* {
	width: 500px;
	margin: 0 auto;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin-top: 0.5em;
}

.title {
	background: #D1EEF9;
	border-radius: 10px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.lists {
	background: #D1EEF9;
	border-radius: 10px;
	height: 350px;
	
}

.lists p {
	font-size: 20px;
	text-align: center;

}

input{
	border: none;
	width : 400px;
	height : 30px;
	text-align: center;
}

.typeList{
	width : 350px;
	height : 30px;
	margin-left: 50px;
	margin-top : 15px;

}

.button1{
	background: #368aaa;
	border-radius: 10px;
	border : none;
	width: 40px;
	height: 30px;
}

.button2{
	background: #368aaa;
	border-radius: 10px;
	border : none;
	width: 150px;
	height: 30px;
	margin-left: 160px;
	margin-top : 2em;
}
