@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');
/* 특별한 상황아니면 절대 *(universal)를 selector로 사용하지 말 것 */
body {
	width: 500px;
	margin: 0 auto;
	font-family: 'Roboto+Mono';
}

h1 {
	font-size: 3em;
	text-align: center;
	margin-top: 0.5em;
}

/* 그냥 tag를 selector로 하는 것보단 class나 id를 지정해줘서 selector를 하는게 더 좋음. 왜냐면 같은 tag가 여러게 일 수도 있으니깐 */
.container {
	background-image: linear-gradient(#90e7ff, #00C9FF);
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	max-width: 700px;
}

.todo-lists {
	background-image: linear-gradient(#00C9FF, #92FE9D);
	border-radius: 10px;
	height: 350px;
}

.todo-lists div{
	margin-top: 10px;
	width: 500px;
}

.todo-lists div p{
	font-size: 26px;
	display: inline-block;
	margin : 0px;

}

.todo-input{
    vertical-align: middle;
    height: 35px;
	box-sizing: border-box;
	width: 75%;
	border: none;
	text-align: center;
}

.add-button{
	vertical-align: middle;
    height: 35px;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 1;
	font-size: 25px;
	background-image: linear-gradient(#90e7ff, #00C9FF);
	border: none;
	outline:none;
}

.clear-all-button{
	vertical-align: middle;
    height: 35px;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 1;
	font-size: 20px;
	background-color: #92FE9D;
	border: none;
	color: black;
	border-radius: 10px;
	margin : 1.5em 200px;
	font-family: 'Roboto+Mono';
	font-weight: bold;
}

.clear-all-button:hover{
	transform: scale(1.1);
}


.fa-check {
	background: black;
	color : white;
	border-radius: 50px;
	border : none;
	width: 30px;
	height: 30px;
	margin-left: 40px;
	margin-top: 5px;
	float: left;
}

.fa-trash {
	background: black;
	color : white;
	border-radius: 50px;
	border : none;
	width: 30px;
	height: 30px;
	margin-right: 40px;
	float:right;
	margin-top: 5px;

}

.todo-lists div{
	text-align: center;
}

.fa-check:hover{
	transform: scale(1.1);
	background: #00C9FF;
}

.fa-trash:hover{
	transform: scale(1.1);
	background: red;
}